@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-12">
        <h4 class="text-success text-center">
            Thank you for confirming your email. Now you can login into system.
        </h4>
    </div>
</div>
