@{
    ViewData["Title"] = "Confirm user group";
}

<div class="my-6">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading font-weight-bold">@ViewData["Title"]</h4>
        <hr>
        Thank you for confirming the user. Now they are part of a group and can see each other's trips in real time.
    </div>
</div>
