@{
    ViewData["Title"] = "Reject user group";
}

<div class="col-12">
    <h2>@ViewData["Title"]</h2>
    <h5 class="text-center text-success">Thanks for answering. Maybe on another occasion make a group with this user.</h5>
</div>
