@{
    ViewData["Title"] = "Confirm user group";
}

<div class="col-12">
    <h2>@ViewData["Title"]</h2>
    <h5 class="text-center text-success">Thank you for confirming the user. Now they are part of a group and can see each other's trips in real time.</h5>
</div>
